doctype html
html
  head
    title Latihan Vue JS 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block isi
    script(src="vue.min.js")
    script
      block js